<hr>
<h1 style="color: #5e9ca0;">Performance </h1>
<h3 style="text-align: left"><span>Name: </span>{{name}}</h3>
<h3 style="text-align: left"><span>Serial: </span>{{serial}}</h3>
<hr>
<p style="text-align: left"><span>Cpu Utilization: </span> {{cpu_utilization}}</p>
<p style="text-align: left"><span>Mem Free: </span>{{mem_free}} </p> 
<p style="text-align: left"><span>Mem total: </span>{{mem_total}}</p>
<p style="text-align: left"><span>Serial: </span>{{serial}}</p>
<p style="text-align: left"><span>Status: </span>{{status}}</p>
<p style="text-align: left"><span>Temperature </span>{{temperature}}</p>
<p style="text-align: left"><span>Uptime: </span>{{uptime}}</p>

