<hr>
<h1 style="color: #5e9ca0;">Report </h1>
<h3 style="text-align: left"><span>Name: </span>{{name}}</h3>
<h3 style="text-align: left"><span>Serial: </span>{{serial}}</h3>
<hr>
<p style="text-align: left"><span>Client Count: </span> {{client_count}}</p>
<p style="text-align: left"><span>Firmware Version: </span>{{firmware_version}} </p> 
<p style="text-align: left"><span>Labels: </span>{{labels}}</p>
<p style="text-align: left"><span>Macaddr: </span>{{macaddr}}</p>
<p style="text-align: left"><span>Models: </span>{{model}}</p>
<p style="text-align: left"><span>Stack Id: </span>{{stack_id}}</p>
<p style="text-align: left"><span>Uplink Ports: </span>{{uplink_ports}}</p>
<p style="text-align: left"><span>Today Date: </span>{{Today_date}}</p>